name: "Test and Check"

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '*.md'
  pull_request:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Check API
      run: ./gradlew apiCheck

    - name: Unit Tests
      run: ./gradlew test

    - name: Build Health
      run: ./gradlew :buildHealth
